/******BASE STYLES******/
html {
    font-size: 16px;
}

body {
    font-family: 'lato', sans-serif;
    font-size: 1em;
    color: #a2e8dd;
    text-align: left;
}

ul, 
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #a2e8dd;
    text-decoration: none;
}
 
h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 3.25em;
    font-weight: 700;
    margin: 0;
    color: #a2e8dd;
}

h3,
h4 {
    font-family: 'Roboto Slab', serif;
    font-size: 2em;
    font-weight: 600;
}

p {
    font-size: 1.5em;
    line-height: 1.285;
}

img {
    width: 100%;

}

figure{
    margin: 0;
}

.content-wrapper {
   width: 90%;
   margin: 0 auto;
}

/****** HEADER - FOOTER STYLES******/

header,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background: #152A3E;
}

header .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 0;
}

header {
    padding: 40px 0;
}

header h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 3em;
    font-weight: 800;
    margin: 0;
    padding: 10px 0;
}

header nav {
    width: 80%;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;  
    padding: 15px 0;
}

header nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;  
}
  
footer .content-wrapper {
    width: 28%;
    margin: 50px 0px;  
}

footer{
text-align: center;
flex-direction: column;
}

footer p {
margin: 0;
}

footer .contact-info i {
    font-size: 2em;
    padding: 0 0 10px 0;
}

footer .social-icons i {
font-size: 2.25em;
color: #a2e8dd;
padding: 0 20px;
}

footer .social-icons {
display: flex;
justify-content: center;
width: 40px;
height: 40px;
padding: 0 120px;
}

/*** Hero Area ***/
.hero-area {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    background: url("../img/hero.jpg");
    background-size: cover;
    background-position: center;
    min-height: 750px;
}

.hero-area h2 {
    font-family: 'Roboto Slab', serif;
    font-size:  5.3em;  
    line-height: 1.2;
    font-weight: 700;
    color: #c2f5ed;
    text-shadow: 8px 10px #152A3E;
    padding: 25px 0;    
}

.hero-area p {
    font-size: .65em;
    padding-top: 450px;
    color: #152A3E;
}

.hero-area a {
    color: #152A3E;
}

/*========================
Homepage Page
=========================*/

/****** ABOUT SECTION ******/

#about {
    background: #5BC0BE;
}

#about h2 {
    color: #152A3E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0 40px 0;
}

#about .content-wrapper {
    width: 80%;
    color: #152A3E;
    padding-bottom: 80px;
}

.profile-title {
    line-height: .5;
    padding-bottom: 10px;
}

.profile-title h3 {
    font-weight: 900;
}

.profile-title h4 {
    font-weight: 700;
}

.profile-bio {
    line-height: .5;
    padding: 0 5px;
}

/****** SKILLS SECTION ******/

#skills {
    background: #456990;    
}

#skills .content-wrapper {    
    width: 100%;    
}

#skills h2 {
    padding: 80px 0 15px 90px
}

#skills ol {
   width: 80%;
   display: flex;
   justify-content: space-between;
   align-items: start;
   flex-flow: row wrap;
   line-height: 1.5;
   padding: 0 90px;
}

#skills ol li {
   width: 40%;
   font-size: 1.5em;
}

.skills-image {
    position: relative;
    text-align: left;
} 
 
.skills-image p {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: .75em;     
}

.tools-info {
    padding-bottom: 205px;
}
 
/*========================
Portfolio Page
=========================*/
   
/****** PROJECTS ******/

.portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5BC0BE;
    flex-flow: row wrap;
}

.portfolio .content-wrapper {
    margin: 15px;
    padding: 60px 0 40px 0;
    color: #152A3E;
}

.portfolio h2 {
    display: flex;
    justify-content: center;    
    align-content: center;
    padding-bottom: 20px;
    color: #152A3E;
    padding: 0 0 45px 0;
}

.portfolio p {
    padding: 0 60px 0 0;
}

.border-divider {
    border-bottom: 4px dotted #152A3E;
    width: 100%;
    height: 1px;
    margin: 25px 0 40px 0;    
}

.project-skills ol{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-flow: row wrap;
    line-height: 1.5;
    padding-bottom: 60px;
}

.project-skills ol li {
    width: 40%;
    font-size: 1.5em;
}


@media only screen and (min-width: 1000px) {
    /*Tablet styles here*/

   
    

}

@media only screen and (min-width: 1200px) {
    /*Desktop styles here*/

    /*Header-Footer-Hero*/
    header .content-wrapper {
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        flex-flow: row nowrap;
    }

    header {
        padding: 20px 0;
    }
    header h1 {
        font-size: 2em;
    }

    header nav {
        width: 40%;
        font-size: 1.25em;
    }

    footer .content-wrapper {
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        flex-flow: row wrap;
        width: 70%;
    }
    
    .contact-info {
        padding-top: 40px;
    }

    footer h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-flow: row;
        font-size: 2.5em;
    }

    .hero-area {
        min-height: 600px;
    }

    .hero-area h2 {
        font-size: 6.5em;
        text-shadow: 6px 8px #152A3E;
    }

    .hero-area p {
        font-size: 1em;
        padding-top: 400px;
    }

    /*Homepage*/

    #about h2 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row nowrap;
        padding: 40px 80px;
        font-size: 2.5em;
    }
    #about .content-wrapper {
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        flex-flow: row wrap;
    }

    #about h3 {
        font-size: 1.75em;
    }

    #about h4 {
        font-size: 1.5em;
    }

    #about p {
        font-size: 1.3em;
    }

    .profile-title {
        width: 40%;
        padding: 40px 0px;
    }

    .profile-bio {
        width: 50%;
        padding: 10px 30px;
    }

    #skills .content-wrapper {
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        flex-flow: row;
        margin: 0;
        padding: 0;
    }

    #skills ol {
        padding: 0;
    }
    
    #skills ol li {
        font-size: 1em;
    }

    #skills h2 {
        font-size: 2em;
        padding: 0;
        line-height: 2;
    }

    .skills-image {
       width: 60%;
       display: flex;
       padding-right: 25px;
    }

    .skills-image p {
        font-size: .45em;
        bottom: 1.5px;
    }

    .skills-info,
    .tools-info  {
        padding: 80px 0;
        line-height: 1.2;
    }

    /*Portfolio Page*/

   .portfolio h2 {
       font-size: 2.5em;
   }

   .portfolio article {
       display: flex;
       justify-content: space-between;
       align-content: space-between;
       flex-flow: row wrap;
   }
}