/******BASE STYLES******/
html {
    font-size: 16px;
}

body {
    font-family: 'lato', sans-serif;
    font-size: 1em;
    color: #a2e8dd;
    text-align: left;
}

ul, 
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #a2e8dd;
    text-decoration: none;
}
 
h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 4em;
    font-weight: 700;
    margin: 0;
    color: #5BC0BE;
}

h3,
h4 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.75em;
    font-weight: 600;
}

p {
    font-size: 1.5em;
    line-height: 1.285;
}

img {
    width: 100%;

}

figure{
    margin: 0;
}

.content-wrapper {
   width: 90%;
   margin: 0 auto;
}

/****** HEADER - FOOTER STYLES******/

header,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background: #152A3E;
}

header .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 0;
}

header {
    padding: 40px 0;
}

header h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 2.25em;
    font-weight: 800;
    margin: 0;
    padding: 10px 0;
}

header nav {
    width: 60%;
    font-size: 1.125em;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;  
    padding: 15px 0;
}
header nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;  
}
  
header nav ul li {
    font-size: 1.125em;
}

footer .content-wrapper {
    width: 20%;
    margin: 50px 0px;  
}

footer{
text-align: center;
flex-direction: column;
}

footer p {
margin: 0;
}

footer .contact-info i {
    font-size: 2em;
    padding: 0 0 10px 0;
}

footer .social-icons i {
font-size: 2.25em;
color: #a2e8dd;
padding: 0 20px;
}

footer .social-icons {
display: flex;
justify-content: center;
width: 40px;
height: 40px;
padding: 0 80px;
}

/*** Hero Area ***/
.hero-area {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    background: url("../img/hero.jpg");
    background-size: cover;
    background-position: center;
    min-height: 600px;
}

.hero-area h1 {
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    font-size:  2.25em;  
    line-height: 1.2;
    font-weight: 600;
    margin: -20px 0px 0px 0px;
  }

/****** PROJECTS ******/


/****** SKILLS SECTION ******/


   
/****** ABOUT SECTION ******/


@media (min-width: 768px) {
    /*Tablet styles here*/
    
    /**Header-Footer*/

    
}

@media (min-width: 1200px) {
    /*Desktop styles here*/
    
    
     /**Project Section**/
}